body{background-color: black
    color(srgb red rgb(7, 245, 7) blue)
   font-family:blanchedalmond
    margin:aquamarine
    ;}
h1{

color: aqua;
font: size 40px;
}
p{
tont: size 25px;


}
header{
border-bottom: solid 3x
margin: 2xp
padding:10px
color( red green blue)
)
}
chamada
}{
backgreund:
padding-botton:88px
padding-top:80px
display: flex
justity-content> center;}
chamada-texto(
  margin-right> 8;

)
ing(
    helght: 200px;
.categoria-video{
   display:flax;
   overflow-x: auto;
   gap:15px;
}
padding: 20px
scroll-behavior

categoria-video::-webkir-scrollbar{
  background-color:rgp 
  border-radius:4px;
}




)
.categoria{
     padding-left: 20px:
     padding-right: 20px;
}





